.header {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url("/i/header.jpg");
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto auto;
  color: #333;
  font-size: 14px;
  outline-color: #333;
  outline-style: none;
  outline-width: 0px;
  position: relative;
  width: 100%;
  height: 100px;
  z-index: 10;
  margin: 0 auto;
  margin-bottom: 40px;
}

.header-logo {
  width: 422.75px;
  height: 95px;
  background: url("/i/logo2.jpg") no-repeat;
  margin-left: 5%;
  display: block;
  text-decoration: none;
  background-size: 422.75px 95px;
}

.header-dropdown {
  position: absolute;
  right: 30px;
  top: 30px;
}
.header-dropdown .btn {
  font-size: 2em;
}
.header-dropdown .dropdown-menu {
  left: -300%;
  font-size: 2em;
}
