mixin footer
  .footer
     .footer-item
        a(href="news.html") Новости
     .footer-item
        a(href="texts.html") Тексты
     .footer-item
        a(href="persons.html") Персонажи
     .footer-item
        a(href="interviews.html") Интервью
     .footer-item
        a(href="redactor.html") Колонки