include assets/news1


html
    head
        title Medialeaks
        link(type='text/css', rel='stylesheet', href='/css/all.css')
    body
        .content-wrapper
            .content
                .header
                    a.logo(href="/")
                .main
                    //+news1