include header
include footer

html
    head
        title Medialeaks
        link(type='text/css', rel='stylesheet', href='/bootstrap-3.3.1/dist/css/bootstrap.css')
        link(type='text/css', rel='stylesheet', href='/css/all.css')
        script(type='text/javascript', src='/jquery/jquery-1.11.1.js')
        script(type='text/javascript', src='/bootstrap-3.3.1/dist/js/bootstrap.js')
    body
        .content
            +header()
                a.logo(href="/")
            .main
                block content
            +footer()