include footer

html
    head
        title Medialeaks
        link(type='text/css', rel='stylesheet', href='/bootstrap-3.3.1/dist/css/bootstrap.css')
        link(type='text/css', rel='stylesheet', href='/css/all.css')
    body
        .content
            .header
                a.logo(href="/")
            .main
                block content
            +footer()