
mixin news-link(time, title)
   a.news(href="news.html")
      span.news-time= time
      span.news-title= title

mixin mininews
   .news-block
      +news-link('19:04', 'Компания Тимченко отказалась строить Керченский мост')
      +news-link('17:59', 'В Госдуму внесли законопроект о введении понятия «страна-агрессор»')
      +news-link('17:20', 'В Госдуме предложили деноминировать рубль')
      +news-link('16:41', 'Белоруссия на грани торговой войны с РФ')
      +news-link('15:01', 'Арсений Яценюк сообщил об аварии на Запорожской АЭС')
      +news-link('14:29', 'В Госдуме опровергли запрет на работу не по специальности')
      +news-link('14:22', 'Постпредство РФ в НАТО в твиттере показало Западу украинских фашистов')
      +news-link('11:55', 'Вячеслав Володин: Россия многие годы будет жить в эпохе Путина')