
mixin news-link(time, title)
   a.news(href="news.html")
      span.news-time= time
      span.news-title= title

mixin news-block-extended
   +news-link('11:51', 'Большинство россиян хотят четвертый срок президента Путина')
   +news-link('11:28', 'Банкиры на форуме мечтают «загнать россиян в кредитную кабалу»')
   +news-link('11:27', '$700 млн, чтобы остановить падение рубля. Не вышло')
   +news-link('10:59', 'Казахи и белорусы устремились в Россию, скупают подешевевшие товары')
   +news-link('10:28', 'ВГТРК грозит суд из-за ролика про голых мужчин в детской спальне')
   +news-link('10:06', 'Ходорковский в Европарламенте осудил санкции и дал режиму 10 лет')
   +news-link('09:48', 'В кабмин Украины вошли три иностранца: граждане США, Литвы и Грузии')
   +news-link('09:34', 'Кремль сделал выговор Минэкономразвития за негативный прогноз')
   +news-link('09:16', 'Соседями России в рейтинге коррупции стали Нигерия и Киргизия')
   +news-link('08:47', 'Депутаты хотят обязать россиян работать по специальности')

mixin news-block(extended)
   .news-block
      +news-link('19:04', 'Компания Тимченко отказалась строить Керченский мост')
      +news-link('17:59', 'В Госдуму внесли законопроект о введении понятия «страна-агрессор»')
      +news-link('17:20', 'В Госдуме предложили деноминировать рубль')
      +news-link('16:41', 'Белоруссия на грани торговой войны с РФ')
      +news-link('15:01', 'Арсений Яценюк сообщил об аварии на Запорожской АЭС')
      +news-link('14:29', 'В Госдуме опровергли запрет на работу не по специальности')
      +news-link('14:22', 'Постпредство РФ в НАТО в твиттере показало Западу украинских фашистов')
      +news-link('11:55', 'Вячеслав Володин: Россия многие годы будет жить в эпохе Путина')
      if extended
         +news-block-extended()
         button.btn.btn-block.btn-lg.btn-default(type="button") Ещё
      else
         a.btn.btn-lg.btn-block.btn-default(
            href='allnews.html'
            role='button'
         )  Ещё



