
extends layout

mixin text(title)
   .text
      .text-title= title
      .text-image
            img

block content
  .texts
     +text("Чем обернулось для России послание Путина в 2013 году")
     //+text("Чем обернулось для России послание Путина в 2013 году")
     //+text("Чем обернулось для России послание Путина в 2013 году")

