
@import "compass/reset";

@import "articles";
@import "texts";
@import "footer";

body {
  font-family: "Open Sans",sans-serif;
  font-size: 32px;
}

.content {
  width: 100%;
  min-width: 340px;
}

.logo {
  width: 100%;
  height: 100%;
  background: url('/i/logo2.jpg')  no-repeat;
  margin-left: 5%;
  display: block;
  text-decoration: none;
}

.header {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url('/i/header.jpg');
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto auto;
  color: #333;
  font-size: 14px;
  outline-color: #333;
  outline-style: none;
  outline-width: 0px;

  position: relative;
  width: 100%;
  height:100px;
  z-index: 10;
  margin: 0 auto;
  margin-bottom: 40px;
}


.main {
  background-color: white;
  padding: 5px;

  padding-left: 5%;
  padding-right: 5%;
}

