@import "compass/reset";

@import "articles";
@import "texts";
@import "header";
  @import "footer";
  @import "news";


body {
  font-family: "Open Sans",sans-serif;
  font-size: 32px;

  a {
    text-decoration: none;
    color: black;
  }
}

.content {
  width: 100%;
  min-width: 340px;
//  background-color: magenta;
}


.main {
  background-color: white;
//  background-color: yellow;
  padding: 5px;

  padding-left: 5%;
  padding-right: 5%;
}

.btn-lg {
  font-size: 1.8em;
}