

.news {
  display: block;
  font-family: Ubuntu, sans-serif;
  padding-bottom: 24px;
}

.news-time {
  color: rgb(170, 170, 170);
}

.news-title {
  text-indent: 20px;
  padding-left: 20px;
}

.news-block {
  .btn-lg {
    font-size: 1.8em;
  }
}