
mixin news1()
    .article
        .article-title
            | Компания Тимченко отказалась строить Керченский мост

        .article-lead
            | Группа СТГ Геннадия Тимченко отказалась участвовать в строительстве Керченского моста, сообщает «Интерфакс«. Компания взвесила все риски и решила не принимать участия в дорогостоящем проекте ни в качестве подрядчика, ни в качестве субподрядчика.

        .article-body
            div
                p
                |    «СТГ не будет ни как генподрядчика, ни как субподрядчика. Проанализировали, взвесили, решили отказаться», – рассказал агентству источник в одном из профильных ведомств.
                p
                | Также у источника агентства в строительной отрасли есть сведения о том, что СТГ не будет принимать участия в проекте.
                .article-quote
                | «Там слишком большие риски. Может, решили перестраховаться», – передает агентство слова собеседника.
                p
                | Антон Куревин, представитель холдинга Тимченко Volga Group, однако, сказал, что «не готов подтвердить эту информацию».
                p
                | «До официального объявления решения государства о выборе генподрядчика не считаем корректным делать какие-либо заявления на этот счет», – передает его слова «Интерфакс«.
                p
                | Отказались давать комментарии и в самой компании.
                .article-quote
                | «Компания параллельно реализует большое количество социально значимых масштабных проектов в ключевых направлениях строительства, объем загрузки сил и средств компании высок, планы компании по участию в отдельных проектах мы не комментируем», – сказали в пресс-службе СТГ.
            div
                p
                | Однако источник, близкий к СТГ, уже подтвердил, что сотрудникам компании известно об отрицательном решении по проекту.
                p
                | Предполагается, что стоимость моста через Керченский пролив будет составлять 228,3 млрд рублей. Правительство должно определить единственного исполнителя контракта по строительству этого транспортного перехода. Мост будет включать в себя проезд для автомобильного транспорта с четырьмя полосами движения и два пути железной дороги. Протяженность составит около 19 км. Строительство моста началось в начале сентября, а закончить его планируют в 2018 году.
                p
                | В конце лета источники в дорожной области предполагали, что строительством моста займется «Стройтрансгаз», который принадлежит Тимченко, а субподрядчиками станут «Мостотрест» Аркадия и Игоря Ротенбергов и УСТ «Мост». Но уже в начале октября «Ведомости» сообщили, что что компания Тимченко, возможно, откажется от роли подрядчика и станет субподрядчиком – тогда компания не будет брать на себя всю ответственность за проект. Среди причин, которые могли повлиять на решение компании, издание называло риск того, что проект подорожает сверх выделяемых государством 228,3 млрд рублей, а также сложность строительства и геодезической обстановки на местности и необходимость предоставить банковскую гарантию в размере 30% от суммы контракта.
                p
                | Ранее из проекта по строительству Керченского моста выбыл генподрядчик – Спецстрой, подведомственный Минобороны. «Ведомости» сообщали, что причиной была загруженность агентства специального строительства на основном проекте – космодроме «Восточном».



