
mixin news1()
    .title
        | В Венесуэле из-за рухнувших цен на нефть сокращают зарплату чиновникам

    .lead
        | Президент Венесуэлы Николас Мадуро намерен сократить зарплату министрам, главам госкомпаний и даже самому себе из-за мощного падения цен на нефть, которое сильно бьет по бюджету страны, зависимому от доходов с продажи природных ресурсов.

    .text
        p Как сообщает газета The Wall Street Journal, Мадуро объявил о намерении урезать зарплаты государственному аппарату в пятницу, 28 ноября.
        div.
                Президент Венесуэлы Николас Мадуро намерен сократить зарплату министрам, главам госкомпаний и даже самому себе из-за мощного падения цен на нефть, которое сильно бьет по бюджету страны, зависимому от доходов с продажи природных ресурсов.
                Как сообщает газета The Wall Street Journal, Мадуро объявил о намерении урезать зарплаты государственному аппарату в пятницу, 28 ноября.
                «Я не воспринимаю удар от такого падения (цен на нефть — прим. Medialeaks) негативно. В этом я вижу возможность прекратить чрезмерные, роскошные, ненужные траты», — заявил Мадуро в  обращении к рабочим.
                Президент Мадуро объявил, что создаст комитет, который подгтовит предложения по «значительному сокращению» зарплат. По словам Мадуро, начать собираются с министров и глав госкомпаний. На сколько сократят зарплаты, он не объявил, но само предложение было встречено овациями со стороны рабочих.
                «Покупка неизвестно скольких машин и грузовиков… Неужели это так необходимо?», — спросил он.
                При этом он заверил рабочих, что правительство не намерено сокращать расходы на социальные программы.
                Представители Венесуэлы не смогли убедить членов ОПЕК уменьшить добычу и тем самым снова поднять цены на нефть. В четверг, 27 ноября, на встрече в Вене преставители стран-экспортеров нефти решили не вводить специальных квот на ограничение добычи нефти.
                После оглашения решения цены на нефть начали стремительно падать. За два дня эталонная марка Brent подешевела почти на 10 долларов, достигнув четрехлетнего минимума. Январские фьючерсы на бирже InterContinental Exchange в 23:45 мсвк 28 ноября подешевели до $69,92 за баррель.
                Тем временем в России
                Президент России Владимир Путин заявил, что решение ОПЕК не вводить квоты Россию «в целом устраивает».
                «Для нас с самого начала стало ясно, что после объявления ОПЕК о несокращении добычи цены на это отреагируют, будут немножко понижены. Мы здесь не видим ничего особенного. Впереди зима, и уверен: в первом квартале — в середине (2015) года рынок сбалансируется», — цитирует ТАСС президента.
                На фоне падения цен на нефть в России началось мощное падение рубля по отношению к мировым валютам.  В конце торгов в пятницу, 28 ноября, на Московской бирже за доллар давали 50,4 рублей, за евро — рекордные 62,85 рублей.
                В Центробанке заявили, что готовы вмешаться, если будет «угроза дестабилизации».
                «При этом Банк России внимательно следит за ситуацией на валютном рынке, в том числе анализирует влияние динамики курса на другие сегменты финансового рынка. В случае выявления угроз дестабилизации ситуации ЦБ готов будет провести валютные интервенции», — цитирует представителей ведомства ТАСС.
                Россия катастрофически зависит от цен на нефть, почти половина всех доходов лежит на природных ресурсах. Совет Федерации 26 ноября принял проект федерального бюджета на 2015-2017 годы. Как пишет РИА «Новости», бюджет сверстан из цены 96 долларов за баррель.


